name: Python CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-lint-test-and-dockerize:
    runs-on: ubuntu-latest

    # Indique à GitHub de travailler dans votre dossier
    defaults:
      run:
        working-directory: ./session2/ml-app

    steps:
      # 1. Récupérer le code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Installer Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # 3. Installer les dépendances
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Lancer le Linter (Tâche 4)
      - name: Lint with flake8
        run: |
          flake8 .

      # 5. Lancer l'entraînement (pour créer le modèle .pkl)
      - name: Run training script
        run: |
          python src/train.py

      # 6. Lancer les Tests (Tâche 3)
      # (Maintenant que le .pkl existe, les tests vont passer)
      - name: Run tests with pytest
        run: |
          pytest

      # 7. Construire l'image Docker (Tâche 6)
      - name: Build Docker image
        run: |
          docker build . --file Dockerfile --tag my-image:latest